<div class="wrapper" (window:resize)="onResize($event)">
  <mat-card *ngIf="episode">
    <mat-card-header>
      <mat-card-title>
        <h2>{{ episode.name }}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="episode.season || episode.sequenceNumber">Season: {{ episode.season }} Episode: {{ episode.sequenceNumber }}</span>
        <span *ngIf="!episode.season && !episode.sequenceNumber">Season information not available</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="episode.description">
      {{ episode.description }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button ngxClipboard [cbContent]="episode.name" (cbOnSuccess)="doCopySuccess()">COPY</button>
    </mat-card-actions>
  </mat-card>
  <div class="button-wrapper" *ngIf="!isMobile">
    <button *ngIf="episode" mat-fab (click)="randomize()" color="accent">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>
<button *ngIf="isMobile && episode" mat-fab (click)="randomize()" color="accent" class="global-fab-button">
  <mat-icon>refresh</mat-icon>
</button>

<div class="load-wrapp" *ngIf="!episode">
  <div class="spinner">
    <div class="bubble-1">
      <mat-icon color="accent" class="bubble-content">fingerprint</mat-icon>
    </div>
    <div class="bubble-2">
      <mat-icon color="accent" class="bubble-content">search</mat-icon>
    </div>
  </div>
</div>