<div>
  <h1>About</h1>
  <p>
    This website provides random episodes of "Inspector Barnaby". Me an my wife have seen them all (a 100 times to be honest).
    The result was that we needed to decide on a certain episode to watch. We tried a lot of different things but eventually
    I created this small app. Have fun.
  </p>
  <p>
    This app follows the German releases of the episodes. They do not match the original schedule whatsoever!
  </p>
  <a mat-raised-button color="primary" routerLink="../randomizer">Back</a>
</div>